<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        2015 &copy; CrAntCms.
        Powered by <b><a href=http://www.fengkuangmayi.net target=_blank>CrAntCms 1.0.1</a></b> &copy;2012-2016 &nbsp;<a href=http://www.fengkuangmayi.net target=_blank>FengKuangMayi Inc.</a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->