<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.1.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="CAF.WebSite.Application.WebUI.Theming.WebViewPage">
      <namespaces>
        <add namespace="System.Linq" />
        <add namespace="System.Linq.Expressions" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing" />
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Common" />
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Topics" />
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Plugins" />
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Links"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Logging"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Messages"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Settings"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Users"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Directory"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Channels"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Articles"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Localization"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Links"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Sites"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Clients"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Settings"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Widget"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Polls"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Themes"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.ExtendedAttributes"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.Tasks"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.ModelTemplates"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.ExternalAuthentication"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Models.RegionalContents"/>
        <add namespace="CAF.WebFeedbacks.Mvc.Admin.Models.Feedbacks"/>
        <add namespace="CAF.WebSite.Mvc.Admin.Extensions"/>
        <add namespace="CAF.WebSite.Application.WebUI.Mvc"/>
        <add namespace="CAF.Infrastructure.Core" />
        <add namespace="CAF.Infrastructure.Core.Collections" />
        <add namespace="CAF.Mvc.JQuery.Datatables.Core" />
        <add namespace="CAF.Infrastructure.Core.Events" />
        <add namespace="CAF.WebSite.Application.WebUI" />
        <add namespace="CAF.WebSite.Application.WebUI.Events" />
        <add namespace="CAF.WebSite.Application.WebUI.MvcCaptcha" />
        <add namespace="CAF.WebSite.Application.WebUI.UI" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
</configuration>
