<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode id="home" title="Home" controller="Home" action="Overview" area="Admin">
    <!--<siteMapNode id="dashboard" title="Dashboard" resKey="Admin.Dashboard" controller="Home" action="Index" area="Admin" iconClass="home" />-->
    <siteMapNode id="cms" title="CMS" resKey="Admin.ContentManagement" permissionNames="ManagePolls, ManageArticles, ManageBlog, ManageWidgets, ManageTopics, ManageForums, ManageMessageTemplates" iconClass="folder-open-o">
       <siteMapNode id="cms-general" iconClass="list-alt" title="基础内容" >
        <siteMapNode id="channel-items" iconClass="th-large" title="Channel items" resKey="Admin.ContentManagement.Channels" controller="Channel" action="List" area="Admin" />
        <siteMapNode id="tags" title="Article tags" resKey="Admin.ArticleCategory.ArticleTags" controller="Article" action="ArticleTags" area="Admin" iconClass="tags" />
        <siteMapNode id="articles-comments" iconClass="comment-o"  title="Articles comments" resKey="Admin.ContentManagement.Articles.Comments" controller="Article" action="Comments" area="Admin" />
        <siteMapNode id="checkout-attributes" iconClass="align-center" title="Extended attributes" resKey="Admin.Catalog.Attributes.ExtendedAttributes" controller="ExtendedAttribute" action="List" area="Admin" />
        <siteMapNode id="modeltemplates" iconClass="columns" title="Model Templates" resKey="Admin.ContentManagement.ModelTemplates" controller="ModelTemplate" action="List" area="Admin" />
      </siteMapNode>
      <siteMapNode id="cms-other" iconClass="list-alt" title="其他内容" >

        <siteMapNode id="clients" iconClass="user-md" title="Clients" resKey="Admin.ArticleCategory.Clients" permissionNames="ManageClients" controller="Client" action="List" area="Admin" />
        <siteMapNode id="content-slider" iconClass="ellipsis-h" title="Content slider" resKey="Admin.ContentManagement.ContentSlider" permissionNames="ManageContentSlider" controller="ContentSlider"  action="Index" area="Admin" />
        <siteMapNode id="message-templates" iconClass="envelope-o" title="Message templates" resKey="Admin.ContentManagement.MessageTemplates" permissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List" area="Admin" />
        <siteMapNode id="link" iconClass="link" title="Links" resKey="Admin.ContentManagement.Links" permissionNames="ManageLinks" controller="Link" action="List" area="Admin" />
        <siteMapNode id="polls" iconClass="tasks" title="Polls" resKey="Admin.ContentManagement.Polls" permissionNames="ManagePolls" controller="Poll" action="List" area="Admin" />
        <siteMapNode id="widgets" iconClass="plus-square" title="Widgets" resKey="Admin.ContentManagement.Widgets" permissionNames="ManageWidgets" controller="Widget" action="Providers" area="Admin" />
        <siteMapNode id="RegionalContent" iconClass="align-center" title="Regional Content" resKey="Admin.ContentManagement.RegionalContents"  permissionNames="ManageModelRegionalContent" controller="RegionalContent" action="List" area="Admin" />
        <siteMapNode id="Feedback" iconClass="archive" title="Feedback" resKey="Admin.ContentManagement.Feedbacks"  permissionNames="ManageFeedbacks" controller="Feedback" action="List" area="Admin" />
      </siteMapNode>
    </siteMapNode>
    <siteMapNode id="users" title="Users" resKey="Admin.Users" permissionNames="ManageUsers, ManageUserRoles, ManageExternalAuthenticationMethods, ManageActivityLog" iconClass="group">
      <siteMapNode id="users-item" iconClass="user" title="Users" resKey="Admin.Users.Users" permissionNames="ManageUsers" controller="User" action="List" area="Admin" />
      <siteMapNode id="user-roles" iconClass="group" title="User roles" resKey="Admin.Users.UserRoles" permissionNames="ManageUserRoles" controller="UserRole" action="List" area="Admin" />
      <siteMapNode id="external-auth" iconClass="facebook-square" title="External authentication methods" resKey="Admin.Configuration.ExternalAuthenticationMethods" permissionNames="ManageExternalAuthenticationMethods" controller="ExternalAuthentication" action="Providers" area="Admin"/>
      <siteMapNode id="activity-log" iconClass="eye" title="Activity Log" resKey="Admin.Configuration.ActivityLog.ActivityLog" permissionNames="ManageActivityLog" controller="ActivityLog" action="ListLogs" area="Admin" />
    </siteMapNode>
    <siteMapNode id="configuration" title="Configuration" resKey="Admin.Configuration" permissionNames="ManageCountries,ManageLanguages,ManageSettings,ManageEmailAccounts,ManageThemes,ManagePlugins" iconClass="sliders">
      <siteMapNode id="configuration-system" iconClass="list-alt" title="站点配置" resKey="Admin.Configuration.General">

        <siteMapNode id="general-settings" title="General and common settings" resKey="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon" area="Admin" />
        <siteMapNode id="catalog-settings" title="Catalog settings" resKey="Admin.Configuration.Settings.Catalog" controller="Setting" action="ArticleCatalog" area="Admin" />
        <siteMapNode id="user-settings" title="GeneralUser settings" resKey="Admin.Configuration.Settings.GeneralUser" controller="Setting" action="GeneralUser" area="Admin" />
        <siteMapNode id="media-settings" title="Media settings" resKey="Admin.Configuration.Settings.Media" controller="Setting" action="Media" area="Admin" />
        
      </siteMapNode>
      <siteMapNode id="configuration-system" iconClass="list-alt" title="系统配置" resKey="Admin.Configuration.System">

        <siteMapNode id="sites" iconClass="shopping-cart" title="Sites" resKey="Admin.Common.Sites" permissionNames="ManageSites" controller="Site" action="List" area="Admin" />
        <siteMapNode id="countries" xiconClass="globe" title="Countries" resKey="Admin.Configuration.Countries" permissionNames="ManageCountries" controller="Country" action="List" area="Admin" />
        <siteMapNode id="languages" xiconClass="flag-alt" title="Languages" resKey="Admin.Configuration.Languages" permissionNames="ManageLanguages" controller="Language" action="List" area="Admin" />
        <siteMapNode id="email-accounts" iconClass="envelope" title="EmailAccounts" resKey="Admin.Configuration.EmailAccounts" permissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" area="Admin" />

        <siteMapNode id="activity-types" iconClass="eye" title="Activity Types" resKey="Admin.Configuration.ActivityLog.ActivityLogType" permissionNames="ManageActivityLog" controller="ActivityLog" action="ListTypes" area="Admin" />
        <siteMapNode id="acl" iconClass="lock" title="Access control list" resKey="Admin.Configuration.ACL" permissionNames="ManageACL" controller="Security" action="Permissions" area="Admin" />

        <siteMapNode id="themes" iconClass="picture-o" title="Themes" resKey="Admin.Configuration.Themes" permissionNames="ManageThemes" controller="Theme" action="List" area="Admin"/>
      </siteMapNode>
    </siteMapNode>
    <siteMapNode id="system" title="System" resKey="Admin.System" iconClass="database">
      <siteMapNode id="system-log" iconClass="bolt" title="Log" resKey="Admin.System.Log" permissionNames="ManageSystemLog" controller="Log" action="List" area="Admin" />
      <siteMapNode id="queued-emails" iconClass="envelope" title="Queued emails" resKey="Admin.System.QueuedEmails" permissionNames="ManageMessageQueue" controller="QueuedEmail" action="List" area="Admin" />
      <siteMapNode id="maintenance" iconClass="database" title="Maintenance" resKey="Admin.System.Maintenance" permissionNames="ManageMaintenance" controller="Common" action="Maintenance" area="Admin" />
      <siteMapNode id="scheduled tasks" iconClass="clock-o" title="Schedule tasks" resKey="Admin.System.ScheduleTasks" permissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List" area="Admin" />
      <siteMapNode id="warnings" iconClass="exclamation-triangle" title="Warnings" resKey="Admin.System.Warnings" controller="Common" action="Warnings" area="Admin" />
      <siteMapNode id="system-info" iconClass="info-circle" title="System information" resKey="Admin.System.SystemInfo" controller="Common" action="SystemInfo" area="Admin" />
      <siteMapNode id="system-install" iconClass="info-circle" title="System Install" resKey="Admin.System.Install" controller="Common" action="Install" area="Admin" />
    </siteMapNode>
    <siteMapNode id="plugins" title="Plugins" resKey="Admin.Plugins" iconClass="puzzle-piece" permissionNames="ManagePlugins">
      <!--<siteMapNode id="promotion-feeds" iconClass="rss-square" title="Promotion Feeds" resKey="Admin.PromotionFeeds"></siteMapNode>-->
      <siteMapNode id="plugins-manage" iconClass="puzzle-piece" title="Manage plugins" resKey="Admin.Plugins.Manage" permissionNames="ManagePlugins" controller="Plugin" action="List" area="Admin"/>
    </siteMapNode>

  </siteMapNode>
</siteMap>

