<div class="form-group">
    <label class="control-label col-md-2">
        @Html.LangLabel("")
    </label>
    <div class="col-md-3">
        @RenderBody()
        @Html.ValidationMessage("")
    </div>
</div>
