<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultObjectContext" connectionString="Data Source=.;Initial Catalog=CAFTestDB;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=wharton@168;Enlist=False;Pooling=True;Min Pool Size=1;Max Pool Size=100;MultipleActiveResultSets=True;Connect Timeout=15;User Instance=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>